* {
    margin: 0;
    padding: 0;
    box-sizing: 0;    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #1f1c14, #726e64);
    position: relative;
}

.container {
    width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

}

.container h1 {
    font-size: 36px;
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.name-fields {
    display: flex;
    gap: 20px;
    width: 100%;
}

.name-fields .input-box {
    flex: 1;               
}

.input-box {
    flex: 1;
    min-width: 150px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}