* {
    margin: 0;
    padding: 0;
    box-sizing: 0;    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #fff;
    position: relative;
}

.container {
    width: 400px;
    background-color: #D9D9D9;
    border: 1px solid rgba(128, 128, 129, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(128, 128, 129, 0.2);
    color: #000000;
    border-radius: 16px;
    padding: 35px;

}

.container h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name-fields {
    display: flex;
    gap: 20px;
    width: 100%;
}

.name-fields .input-box {
    flex: 1;             
}

.input-box {
    flex: 1;
    min-width: 150px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box i {
    position: absolute;
    right: 400px;
    
}